@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<section id="about" data-aos="fade-up">
    <h2>About Me</h2>
    <p>
        I'm Trung Pham, a backend developer with a strong passion for .NET technologies and writing clean, maintainable code. As a recent graduate, I’ve dedicated my time to mastering C#, ASP.NET Core, Entity Framework, and RESTful API development, focusing on building efficient, secure, and scalable backend systems.

        Through academic projects and hands-on internship experience, I’ve learned how to turn complex business requirements into practical solutions, while adhering to best practices in software design and architecture. I take pride in delivering clean, testable code and continuously seek to improve both technically and professionally.

        I'm eager to contribute to teams that value quality, collaboration, and innovation — where I can grow my backend expertise, learn from experienced developers, and take on real-world challenges, especially in areas like system design and cloud-based development.
    </p>
</section>

<section id="skills" data-aos="fade-up">
    <h2>🛠️ Skills</h2>
    <ul>
        <li>C# / ASP.NET Core</li>
        <li>Entity Framework / LINQ / SQL Server</li>
        <li>RESTful API / JWT / SignalR</li>
        <li>HTML, CSS, JS, Bootstrap</li>
        <li>Git, GitHub</li>
    </ul>
</section>

<section id="projects" data-aos="fade-up">
    <h2>📂 Projects</h2>
    <p>🌐 Social App - .NET MAUI (Click on my github for more details)</p>
</section>

<section id="experience" data-aos="fade-up">
    <h2>💼 Experience</h2>
    <p>🏢 Intern at FAST Software Company (11/2024 - 6/2025)</p>
</section>

<section id="education" data-aos="fade-up">
    <h2>🏫 Education</h2>
    <p> 💻 Software Engineering</p>
    <p> 🎓 UEH - College of Technology and Design</p>
</section>

<section id="contact" data-aos="fade-up">
    <h2>📬 Contact</h2>
    <p>
        ✉️ Email: <a href="mailto:phamtrung2004py@gmail.com">phamtrung2004py@gmail.com</a><br />
        📞 Phone: 0867529150
    </p>
</section>
